/* Home Page  */
.store-hover {
  fill: #1e1e1e;
  transition: all 0.3s ease-in-out;
}
.store-hover:hover {
  background: #235370;
  border-color: #235370;
}
.store-hover svg {
  fill: #1e1e1e;
  transition: all 0.3s ease-in-out;
}
.store-hover:hover svg {
  fill: #fff;
}

.before-line::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 510px;
  background: rgba(35, 82, 112, 60%);
  top: 0;
  z-index: -1;
}

.for-fix-image>div{height: 100%;}

.fix-svg-height>svg{width: 20px; height: 20px;}

/* responsive */
@media only screen and (max-width: 1024px) {
  .before-line::before {
    height: 370px;
  }
}

/* Auth pages  */

.host-rent-btns button svg {
  fill: #235370;
  transition: all 0.3s ease-in-out;
}
.host-rent-btns button {
  display: flex;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-items: center;
  padding: 32px 36px;
  border: 1px solid #235370;
  border-radius: 16px;
  color: #235370;
}
.host-rent-btns button:hover svg {
  fill: #fff;
}
.host-rent-btns button:hover {
  background: #235370;
  color: #fff;
}

.select-option button {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 12px;
  line-height: 24px;
}

/* //Search page */

.filter-btns-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filter-btns-row > button {
  padding: 6px 12px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.filter-btns-row button.active {
  background: #235370;
  color: #fff;
}
.filter-btns-row > button svg {
  stroke: #1f1f1f;
  transition: all 0.3s ease;
}
.filter-btns-row > button.active svg {
  stroke: #235370;
}
.filter-btns-row > button:hover svg {
  stroke: #fff;
}
.filter-btns-row > button:hover {
  background: #235370;
  color: #fff;
}

@media only screen and (max-width: 560px) {
  .fliters-row {
    flex-direction: column;
    gap: 16px;
  }
}

/* // Booking Review */

.before-dotted-line::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  border-bottom: 1px dashed #eeeeee;
  top: 50%;
  left: 5%;
  z-index: -1;
}
.on-hover-text {
  transition: all 0.3s ease-in;
}
.on-hover-text .show-on-hover {
  opacity: 0;
  visibility: hidden;
  box-shadow: 2px 16px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  text-align: center;
  top: -70px;
  left: 70px;
  color: #000 !important;
  padding: 16px;
  border: 1px solid #eeeeee;
  border-radius: 16px;
  background: #fff;
  width: max-content;
  transition: all 0.3s ease-in;
  z-index: 5;
  font-size: 18px;
}
.on-hover-text:hover .show-on-hover {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 767px) {
  .on-hover-text .show-on-hover {
    left: 0;
    right: 0;
    font-size: 16px;
  }
}

/* Search Result filters  */

.filter-btns-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filter-btns-row > button {
  padding: 6px 12px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.filter-btns-row button.active {
  background: #235370;
  color: #fff;
}
.filter-btns-row > button svg {
  stroke: #1f1f1f;
  transition: all 0.3s ease;
}
.filter-btns-row > button.active svg {
  stroke: #235370;
}
.filter-btns-row > button:hover svg {
  stroke: #fff;
}
.filter-btns-row > button:hover {
  background: #235370;
  color: #fff;
}
.filter-btns-row > button.active svg {
  stroke: #ffffff;
}

@media only screen and (max-width: 560px) {
  .fliters-row {
    flex-direction: column;
    gap: 16px;
  }
}

/* //SideBar */

.side-bar .profile-link {
  padding: 12px 16px;
  position: relative;
}
.side-bar .profile-link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  background: #235370;
  left: -12px;
  opacity: 0;
  transition: all 0.3s ease;
}
.side-bar .profile-link:hover {
  background: #eeeeee;
  border-radius: 6px;
}
.side-bar .profile-link:hover::before {
  opacity: 1;
}

.side-bar .profile-link.active {
  background: #eeeeee;
  border-radius: 6px;
  color: #235370;
}
.side-bar .profile-link.active svg {
  fill: #235370;
}
.side-bar .profile-link.active::before {
  opacity: 1;
}

/* // Create Listing page */

.step-form .react-tabs__tab-list {
  padding: 0 !important;
  border: none !important;
  justify-content: space-between;
}

.step-form ul.react-tabs__tab-list {
  padding: 20px 30px !important;
  border: 1px solid #eeeeee !important;
  border-radius: 8px !important;
  width: 100% !important;
  max-width: 1148px !important;
}

.step-form .react-tabs__tab-list .react-tabs__tab {
  width: 50%;
}

.step-form
  ul.react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected::before {
  display: none !important;
}

.step-form ul.react-tabs__tab-list li.react-tabs__tab .step-button {
  justify-content: center;
}

.step-form
  ul.react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected
  .step-button
  .step-number {
  background: #235370;
}

.step-form
  ul.react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected
  .step-count {
  color: #235370 !important;
}

.step-form
  ul.react-tabs__tab-list
  li.react-tabs__tab.react-tabs__tab--selected
  p {
  color: #000 !important;
}

.step-form .step-button .step-count {
  color: #959595 !important;
}

.step-form .step-button p {
  color: #959595 !important;
}

.step-form .step-button .step-number {
  background: #959595;
}

.stored-hover {
  cursor: pointer;
  background: #ffffff;
  min-width: 230px;
  max-width: 230px;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.stored-hover svg {
  fill: #1e1e1e;
}

.stored-hover.active {
  background: #235370;
  color: #ffffff;
}
.stored-hover:hover {
  background: #235370;
  color: #ffffff;
}

.stored-hover.active svg {
  fill: #ffffff;
}

/* responsive */
@media only screen and (max-width: 766px) {
  .step-form ul.react-tabs__tab-list {
    flex-direction: column;
  }
  .step-form ul.react-tabs__tab-list li.react-tabs__tab .step-button {
    justify-content: start;
  }
  .step-form .react-tabs__tab-list .react-tabs__tab {
    width: 100%;
  }
}
